
<div class=" mx-auto p-4" style="background-color: #f0f0f0;">
  <div style="display: flex; align-items: flex-start; justify-content: center; flex-direction: row;">
    <!-- Formulario -->
    <div class="flex-fill p-2" style="flex: 1;">
      <app-ventas-component></app-ventas-component>
    </div>
    
    <!-- Vista de Ordens -->
    <div class="flex-fill p-2" style="flex: 1;">
      <app-resumen-pedido></app-resumen-pedido>
    </div>
  </div>
  
  <!-- Tabla de Pedidos Abajo -->
  <div class="mt-4">
    <app-ventas-del-dia></app-ventas-del-dia>
  </div>
</div>
